@use 'vuetify/settings' with (
  $button-text-transform: none,
  $button-text-letter-spacing: -0.011em,
  $button-font-weight: 500,
  $button-border-radius: 0, // DSFR: https://www.systeme-de-design.gouv.fr/elements-d-interface/composants/bouton/
);
