$dark-orange: #CA3A04;
$orange: #EB5B25;
$light-orange: #FDEFE9;

$green: #748852;
$light-green: #F1F3EE;

$dark-yellow: #F0CF89;
$yellow: #E2A013;
$light-yellow: #FBF1DC;

$red: #C13331;

$pink: #D23857;
$light-pink: #FFF8FA;

$blue: #3F62D5;
$light-blue: #E8ECF9;

$black: #000000;
$light-black: rgba(0,0,0,0.83);

$dark-grey: #414141;
$grey: #333333;
$light-grey: #808080;

$dark-white: #E1E1E1;
$white: #FFFFFF;
