$orange: #EB5B25;
$light-orange: #FDEFE9;

$green: #748852;
$light-green: #F1F3EE;

$yellow: #E2A013;
$light-yellow: #FBF1DC;

$red: #C13331;

$blue: #5E81F4;

$black: #000000;
$light-black: rgba(0,0,0,0.83);

$dark-grey: #414141;
$grey: #333333;
$light-grey: #808080;

$dark-white: #E1E1E1;
$white: #FFFFFF;