$orange: #EB5B25;
$light-orange: #FDEFE9;

$green: #748852;
$light-green: #F1F3EE;

$yellow: #F0CF89;
$light-yellow: #FBF1DC;

$black: #000000;

$dark-grey: #414141;
$grey: #333333;
$light-grey: #808080;

$dark-white: #E1E1E1;
$white: #FFFFFF;