# https://pre-commit.com/

exclude: ^(.*\/migrations|opendata/.|.*package.json|.*package-lock.json|Pipfile*|.vscode|.*.spec.js|.*jsconfig.json|.*\/tests/files/.*.tsv)
repos:
  # GENERAL
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: forbid-new-submodules
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: fix-byte-order-marker
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-symlinks
      - id: check-vcs-permalinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: forbid-crlf
      - id: remove-crlf
      - id: forbid-tabs
      - id: remove-tabs
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-json
      - id: pretty-format-json
        args: [--autofix, --no-ensure-ascii]

  # UV
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.5
    hooks:
      - id: uv-lock
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.5
    hooks:
      - id: uv-export
        args: ["--no-hashes", "--output-file=requirements.txt"]

  # PYTHON
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-builtin-literals
      - id: check-docstring-first
      - id: debug-statements
      - id: requirements-txt-fixer
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.0
    hooks:
      - id: pyupgrade
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.2
    hooks:
      # linter
      - id: ruff-check
        args: [--fix]
      # formatter
      - id: ruff-format
  - repo: https://github.com/Lucas-C/pre-commit-hooks-safety
    rev: v1.4.2
    hooks:
      - id: python-safety-dependencies-check
        files: requirements.txt

  # BASH
  - repo: https://github.com/bemeurer/beautysh.git
    rev: v6.2.1
    hooks:
      - id: beautysh
  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 3.0.0
    hooks:
      - id: script-must-have-extension

  # XML / YAML
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-xml
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.37.1
    hooks:
      - id: yamllint
        args: ["-d {rules: {line-length: {max: 999}}}"]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: sort-simple-yaml
  - repo: https://gitlab.com/devopshq/gitlab-ci-linter
    rev: v1.0.6
    hooks:
      - id: gitlab-ci-linter

  # JS (Vue 2 app)
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.38.0
    hooks:
      - id: eslint
        name: vue2-eslint
        additional_dependencies:
          - eslint@7.32.0
          - vue-eslint-parser@latest
          - eslint-plugin-vue@latest
          - eslint-plugin-jquery@latest
          - eslint-plugin-eslint-plugin@latest
          - prettier@latest
          - eslint-config-prettier@latest
          - eslint-plugin-prettier@latest
          - babel-eslint
        args: [-c=frontend/.eslintrc.js, --fix]
        types:
          - vue
        files: ^frontend/
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.38.0
    hooks:
      - id: eslint
        name: js-eslint-v2
        additional_dependencies:
          - eslint@7.32.0
          - vue-eslint-parser@latest
          - eslint-plugin-vue@latest
          - eslint-plugin-jquery@latest
          - eslint-plugin-eslint-plugin@latest
          - prettier@latest
          - eslint-config-prettier@latest
          - eslint-plugin-prettier@latest
          - babel-eslint
        args: [-c=frontend/.eslintrc.js, --fix]
        files: ^frontend/
  # JS (Vue 3 app)
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.38.0
    hooks:
      - id: eslint
        name: vue3-eslint
        additional_dependencies:
          - eslint@8.55.0
          - vue-eslint-parser@latest
          - eslint-plugin-vue@latest
          - eslint-plugin-jquery@latest
          - eslint-plugin-eslint-plugin@latest
          - prettier@latest
          - eslint-config-prettier@latest
          - eslint-plugin-prettier@latest
          - babel-eslint
        args: [-c=2024-frontend/.eslintrc.cjs, --fix]
        types:
          - vue
        files: ^2024-frontend/
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.38.0
    hooks:
      - id: eslint
        name: js-eslint-v3
        additional_dependencies:
          - eslint@8.55.0
          - vue-eslint-parser@latest
          - eslint-plugin-vue@latest
          - eslint-plugin-jquery@latest
          - eslint-plugin-eslint-plugin@latest
          - prettier@latest
          - eslint-config-prettier@latest
          - eslint-plugin-prettier@latest
          - babel-eslint
        args: [-c=2024-frontend/.eslintrc.cjs, --fix]
        files: ^2024-frontend/
