{% extends 'base.html' %}
{% block title %}Email de connexion envoyé{% endblock %}

{% load static %}

{% block content %}
    <h2><img src="{% static 'images/logo_transparent.png' %}" class="auth_logo" /></h2>
    <h3>Nous avons envoyé un email de connexion à votre adresse</h3>
    <div style="text-align: left;">
        <p>Cliquez sur le lien pour vous connecter à Ma Cantine.</p>
        <p>Vérifiez votre dossier spam, vos courriers indésirables, ou tout autre dossier pour voir si le message a été filtré par votre fournisseur de messagerie. </p>
    </div>
    <hr />
    <div class="text-center">
        <a href="{% url 'magicauth-login' %}?next={{ next_view }}" style="color: #008763;" class="btn btn-secondary">Réessayer</a>
    </div>
{% endblock %}
