
.input-child-icon {
  display: block;
  height: 100%;
  width: 100%;
  position: relative;

  &:before {
    content: "";
    background-color: #000000;
    width: 50%;
    position: absolute;
    right: 0;
    bottom: 30%;
    height: 1px;
  }

  &:after {
    content: "";
    background-color: #000000;
    width: 1px;
    position: absolute;
    right: 50%;
    bottom: 30%;
    top: 0;
  }
}
