// /* LEGACY COLORS */
$ma-cantine-orange: #EB5B25;
$ma-cantine-green: #61753f;
$ma-cantine-yellow: #E2A013;
$ma-cantine-light-yellow: #FBF1DC;
$ma-cantine-red: #C13331;
$ma-cantine-black: #000000;
$ma-cantine-grey: #333333;
$ma-cantine-dark-white: #E1E1E1;
$ma-cantine-white: #FFFFFF;
