{% extends 'base.html' %}
{% block title %}S'identifier{% endblock %}

{% load static %}
{% load moncomptepro %}

{% block content %}

    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}

    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <div class="error-container">
                {{ error }}
            </div>
        {% endfor %}
    {% endif %}

    <form role="form" method="post" action="{% url 'login' %}">
        {% csrf_token %}

        {% if next %}
            <input type="hidden" name="next" value="{{ next }}" />
        {% endif %}

        <div class="control-group">
            <label class="control-label" for="{{form.username.id_for_label}}">Votre nom d'utilisateur ou adresse email</label>
            {{form.username}}
            {% if form.username.errors %}
                {% for error in form.username.errors %}
                    <div class="inline-error-container">
                        {{ error | safe }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="control-group">
            <label class="control-label" for="{{form.password.id_for_label}}">Votre mot de passe</label>
            {{ form.password }}
            {% if form.password.errors %}
                {% for error in form.password.errors %}
                    <div class="inline-error-container">
                        {{ error | safe }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit">S'identifier</button>
            </div>
        </div>
    </form>
    <a href="{% url 'register' %}">Créer mon compte</a>
    <hr aria-hidden="true" style="margin-top: 22px;" />
    {% uses_moncomptepro as show_mcp_button %}
    {% if show_mcp_button %}
    <a href="{% url 'oidc-login' %}">
        <img src="{% static 'images/button-moncomptepro.svg' %}" />
    </a>
    {% endif %}
    <p style="font-size: 0.85em; margin-top: 20px;"><a href="{% url 'password_reset' %}">J'ai perdu mon mot de passe</a></p>
    <p style="font-size: 0.85em; margin-top: 20px;"><a href="{% url 'magicauth-login' %}">Recevoir un lien de connexion par email</a></p>
{% endblock %}
