<p>Bonjour,</p>

<p>
    L'équipe de <b> {{ canteen }} </b> vous invite à les rejoindre sur la plateforme ma cantine.
</p>
<p>
    Pour accepter cette invitation il suffit de créer un compte.
</p>

<p style="margin: 30px 0px;">
    <a
    href="{{ protocol}}://{{ domain }}{% url 'register_user' %}"
    style="background: #139f43;padding: 10px 40px; border: none; border-radius: 3px; color: white; box-shadow: 1px 1px 2px 0px #333; cursor: pointer; text-decoration: none;">
        Créer mon compte
    </a>
  </p>

<p>
    En cas de difficultés, vous pouvez copier ce lien directement dans votre 
    navigateur :
</p>

<p>{{ protocol}}://{{ domain }}{% url 'register_user' %}</p>

<p>
    Ma cantine vous permet de créer des diagnostiques sur les mesures de la loi 
    EGAlim ainsi que de découvrir des ressources pour les acteurs et actrices de
    la restauration collective. 
</p>

<p>
    Si vous avez déjà un compte ou que vous pensez avoir reçu ce message par
    erreur vous pouvez nous contacter en répondant directement à ce message.
</p>

<p>L'équipe ma cantine</p>
