{% extends 'base.html' %}
{% block title %}Réinitialiser mon mot de passe{% endblock %}
{% load static %}

{% block content %}
    <form role="form" method="post">
        {% csrf_token %}

        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <p class="error-container">
                    {{ error }}
                </p>
            {% endfor %}
        {% endif %}

        {% for field in form.visible_fields %}
            <div class="control-group">
                <label class="control-label" for="{{field.id_for_label}}">{{ field.label }}</label>
                {{ field }}

                {% if field.errors %}
                    {% for error in field.errors %}
                        <p class="inline-error-container">
                            {{ error | safe }}
                        </p>
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}

        <div class="control-group">
            <div class="controls">
                <button type="submit">Je réinitialise mon mot de passe</button>
            </div>
        </div>
    </form>
{% endblock %}
