
{% extends 'base.html' %}
{% block title %}Email de réinitialisation envoyé{% endblock %}

{% load static %}

{% block content %}
    <h2>Email envoyé</h2>
    <p>Si vous avez un compte Ma Cantine, vous recevrez sous peu un email pour réinitialiser votre mot de passe.</p>
    <p> Vérifiez votre dossier spam, vos courriers indésirables, ou tout autre dossier pour voir si le message a été filtré par votre fournisseur de messagerie. </p>
    <p>En cas d'absence de message, veuillez vérifier que l'adresse email saisie est bien celle utilisée dans votre compte ma cantine.</p>
    <a href="/">Revenir à l'accueil</a>
{% endblock %}
