
{% extends 'base.html' %}
{% block title %}Email de réinitialisation envoyé{% endblock %}

{% load static %}

{% block content %}
    <h2>
        <a href="/">
            <img src="{% static 'images/logo_transparent.png' %}" class="auth_logo" />
        </a>
    </h2>
    <h3>Email envoyé</h3>
    <p>Si vous avez un compte Ma Cantine, vous recevrez sous peu un email pour réinitialiser votre mot de passe.</p>
    <p> Vérifiez votre dossier spam, vos courriers indésirables, ou tout autre dossier pour voir si le message a été filtré par votre fournisseur de messagerie. </p>
    <a href="/"><button>Revenir à l'accueil</button></a>
{% endblock %}
