{% extends 'base.html' %}
{% block title %}Changer mon mot de passe{% endblock %}
{% load static %}

{% block content %}
    <form role="form" method="post" action="{% url 'password_reset' %}">

        {% csrf_token %}

        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <div class="error-container">
                    {{ error }}
                </div>
            {% endfor %}
        {% endif %}

        <div class="control-group">
            <label class="control-label" for="{{form.email.id_for_label}}">Votre email</label>
            {{ form.email }}

            {% if field.errors %}
                {% for error in field.errors %}
                    <p class="inline-error-container">
                        {{ error | safe }}
                    </p>
                {% endfor %}
            {% endif %}
        </div>

        <div class="control-group">
            <div class="controls">
                <button type="submit">Je change mon mot de passe</button>
            </div>
        </div>

    </form>
{% endblock %}
