{% extends 'base.html' %}
{% block title %}Email de confirmation envoyé{% endblock %}

{% load static %}

{% block content %}
    {% if from_registration %}
        <h2>Inscription réussie !</h2>
        <div style="text-align: left;">
            <p>Nous avons envoyé un email de confirmation à votre adresse.</p>
            <p>Cliquez sur le lien dans cet email pour activer votre compte et accéder à la plateforme.</p>
        </div>
    {% else %}
        <h2>Email de confirmation envoyé</h2>
        <div style="text-align: left;">
            <p>Votre adresse email n'a pas encore été confirmée.</p>
            <p>Nous venons de vous renvoyer un email de confirmation.</p>
            <p>Cliquez sur le lien dans cet email pour confirmer votre adresse et vous connecter.</p>
        </div>
    {% endif %}

    <p style="margin-top: 15px;"><em>Vérifiez votre dossier spam, vos courriers indésirables, ou tout autre dossier pour voir si le message a été filtré par votre fournisseur de messagerie.</em></p>

    <hr aria-hidden="true" role="presentation" />
    <form method="post" action="{% url 'registration_email' %}">
        {% csrf_token %}
        <input type="hidden" name="username" value="{{ username }}">
        <button type="submit">Renvoyer email de confirmation</button>
    </form>
    <a href="/"><button style="margin-top: 10px;">Accèder à Ma Cantine</button></a>
{% endblock %}
