{% extends 'base.html' %}
{% block title %}créer mon compte{% endblock %}
{% load static %}

{% block content %}
    <h2><img src="{% static 'images/logo_transparent.png' %}" class="auth_logo" /></h2>

    <form role="form" method="post">

        {% csrf_token %}

        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <div class="error-container">
                    {{ error }}
                </div>
            {% endfor %}
        {% endif %}

        <div class="column-wrapper">
            <div class="left-column">
                {% for field in form.left_column_fields %}
                <div class="control-group">
                    <label class="control-label" for="{{field.id_for_label}}">{{ field.label }}</label>
                    {{ field }}

                    {% for error in field.errors %}
                        <div class="inline-error-container">
                            {{ error | safe }}
                        </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>

            <div class="right-column">
                {% for field in form.right_column_fields %}
                <div class="control-group">
                    <label class="control-label" for="{{field.id_for_label}}">{{ field.label }}</label>
                    {{ field }}

                    {% for error in field.errors %}
                        <div class="inline-error-container">
                            {{ error | safe }}
                        </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="bottom-section">
            <div class="control-group">
                {{ form.cgu_approved }}
                <label class="control-label" for="{{field.id_for_label}}">{{ form.cgu_approved.label }}</label>

                {% for error in form.cgu_approved.errors %}
                    <div class="inline-error-container">
                        {{ error | safe }}
                    </div>
                {% endfor %}
            </div>
        </div>

        <hr />
        <div class="control-group">
            <div class="controls">
                <button type="submit">S'inscrire</button>
            </div>
        </div>
    </form>
    <a href="{% url 'login' %}"><button>J'ai déjà un compte</button></a>
{% endblock %}
