{% extends 'base.html' %}
{% block title %}Créer mon compte{% endblock %}
{% load static %}

{% block content %}
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.easy-autocomplete.min.js' %}"></script>
<style type="text/css"> @import url("{% static 'css/easy-autocomplete.min.css' %}"); </style>
    <form role="form" method="post">

        {% csrf_token %}

        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <div class="error-container">
                    {{ error }}
                </div>
            {% endfor %}
        {% endif %}

        {% for field in form.hidden_fields %}
            {{ field }}
        {% endfor %}

        <div class="column-wrapper">
            <div class="left-column">
                {% for field in form.left_column_fields %}
                <div class="control-group">
                    <label class="control-label" for="{{field.id_for_label}}">{{ field.label }}</label>
                    {{ field }}

                    {% for error in field.errors %}
                        <div class="inline-error-container">
                            {{ error | safe }}
                        </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>

            <div class="right-column">
                {% for field in form.right_column_fields %}
                <div class="control-group">
                    <label class="control-label" for="{{field.id_for_label}}">{{ field.label }}</label>
                    {{ field }}

                    {% for error in field.errors %}
                        <div class="inline-error-container">
                            {{ error | safe }}
                        </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="bottom-section">
            <div class="control-group">
                {{ form.cgu_approved }}
                <label class="control-label" for="{{field.id_for_label}}">{{ form.cgu_approved.label }}</label>

                {% for error in form.cgu_approved.errors %}
                    <div class="inline-error-container">
                        {{ error | safe }}
                    </div>
                {% endfor %}
            </div>
        </div>

        <hr />
        <div class="control-group">
            <div class="controls">
                <button type="submit" style="display: block;">S'inscrire</button>
            </div>
        </div>
    </form>

    <!-- City autocomplete field initialization -->
    <script>
        $("#id_autocomplete").easyAutocomplete({
            url: function(query) {
                return "https://api-adresse.data.gouv.fr/search/?q=" + query + "&type=municipality&autocomplete=1"
            },
            listLocation: "features",
            requestDelay: 100,
            getValue: function(element) {
                return element.properties.label + " - " + element.properties.context
            },
            list: {
                onChooseEvent: function() {
                    var chosenItem = $("#id_autocomplete").getSelectedItemData()
                    $("#id_city").val(chosenItem.properties.label)
                    $("#id_department").val(chosenItem.properties.context.split(',')[0])
                    $("#id_city_insee_code").val(chosenItem.properties.citycode)
                    $("#id_postal_code").val(chosenItem.properties.postcode)
                }
            }
        })
    </script>
    <a href="{% url 'login' %}"><button>J'ai déjà un compte</button></a>
{% endblock %}
