
{% extends 'base.html' %}
{% block title %}Créer mon compte{% endblock %}
{% load static %}

{% block content %}
    <form role="form" method="post">
        {% csrf_token %}

        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <div class="error-container">
                    {{ error }}
                </div>
            {% endfor %}
        {% endif %}

        {% for field in form.visible_fields %}
            <div class="control-group">
                {% if field.name == 'cgu_approved' %}
                    {{ field }}
                    <label class="control-label" for="{{field.id_for_label}}">{{ field.label }}</label>
                {% else %}
                    <label class="control-label" for="{{field.id_for_label}}">{{ field.label }}</label>
                    {{ field }}
                {% endif %}
                {% if field.errors %}
                    {% for error in field.errors %}
                        <div class="inline-error-container">
                            {{ error | safe }}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>

            {% if field.name == 'email' or field.name == 'canteen_name' %}
            <hr aria-hidden="true" />
            {% endif %}
        {% endfor %}

        <hr aria-hidden="true" />
        <div class="control-group">
            <div class="controls">
                <button type="submit" style="font-family: Marianne">S'inscrire</button>
            </div>
        </div>
    </form>
    <a href="{% url 'login' %}"><button>J'ai déjà un compte</button></a>
{% endblock %}
