{% extends 'base.html' %}
{% block title %}Renvoyer email d'activation de compte{% endblock %}
{% load static %}

{% block content %}
<p>Si vous n'avez pas reçu l'email de confirmation, remplissez-le ci-dessous et nous l'enverrons à nouveau.</p>

<form role="form" method="post">
  {% csrf_token %}
  <div class="control-group">
    <label class="control-label" for="email">Votre adresse électronique</label>
    <input type="email" id="email" name="email">
  </div>

  <button type="submit">Renvoyer email de confirmation</button>
</form>
{% endblock %}
