{% extends 'base.html' %}
{% block title %}Confirmation de compte{% endblock %}
{% load static %}

{% block content %}
    <h2>Le lien de confirmation n'est plus valide</h2>
    <div style="text-align: left;">
        <p>Si les problèmes persistent, essayez de copier et coller l'URL contenu dans votre email dans votre navigation sans cliquer sur le bouton.</p>
    </div>
    <hr aria-hidden="true" />
    <a href="/"><button style="margin-top: 10px;">Accèder à Ma Cantine</button></a>
{% endblock %}
