@font-face {
  font-family: 'Marianne';
  src: url('/static/fonts/Marianne-Regular.woff2') format('woff2'), url('/static/fonts/Marianne-Regular.woff') format('woff'), url('/static/fonts/Marianne-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Marianne';
  src: url('/static/fonts/Marianne-Medium.woff2') format('woff2'), url('/static/fonts/Marianne-Medium.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'Marianne';
  src: url('/static/fonts/Marianne-Light.woff2') format('woff2'), url('/static/fonts/Marianne-Light.woff') format('woff'), url('/static/fonts/Marianne-Light.ttf') format('truetype');
  font-weight: 100 300;
}

@font-face {
  font-family: 'Marianne';
  src: url('/static/fonts/Marianne-Bold.woff2') format('woff2'), url('/static/fonts/Marianne-Bold.woff') format('woff'), url('/static/fonts/Marianne-Bold.ttf') format('truetype');
  font-weight: 600 700;
}

@font-face {
  font-family: 'Marianne';
  src: url('/static/fonts/Marianne-ExtraBold.woff2') format('woff2'), url('/static/fonts/Marianne-ExtraBold.woff') format('woff'), url('/static/fonts/Marianne-ExtraBold.ttf') format('truetype');
  font-weight: 800 900;
}
