/* GENERAL */
html {
    scroll-behavior: smooth;
}

address {
    font-style: normal;
}

/* TEXT */
.ma-cantine--bold {
    font-weight: 700;
}

.ma-cantine--inherit-text-color {
    color: inherit !important;
}

.ma-cantine--text-center {
    text-align: center;
}

/* LIST */
.ma-cantine--unstyled-list {
    list-style: none;
    padding-left: 0;
}

.ma-cantine--ordered-list {
    counter-reset: number;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.ma-cantine--ordered-list li {
    counter-increment: number;

}
.ma-cantine--ordered-list li::marker {
    content: initial;
}

.ma-cantine--ordered-list li > *:first-child:before {
    content: counter(number) ".";
    margin-right: 0.5rem;
}

/* STICKY */
.ma-cantine--sticky__container {
    position: relative !important;
    overflow: initial !important;
}

.ma-cantine--sticky__bottom {
    position: sticky !important;
    top: 90vh;
    z-index: 1;
}

.ma-cantine--sticky__top {
    position: sticky !important;
    top: 0;
    z-index: 3;
}


/* TABLE */
@media (min-width: 768px) {

    .ma-cantine--table-sticky-head table {
        position: relative !important;
        overflow: initial !important;
    }

    .ma-cantine--table-sticky-head thead {
        position: sticky !important;
        top: 0px;
        z-index: 1;
    }
}

.ma-cantine--table-white tr {
    background-color: initial !important;
}

.ma-cantine--table-white  td {
    background-image: linear-gradient(0deg, var(--border-contrast-grey), var(--border-contrast-grey)),
        linear-gradient(0deg, var(--border-contrast-grey), var(--border-contrast-grey));
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: 100% 1px;
}

.ma-cantine--table-white td:first-child {
    font-weight: 700;
}

.ma-cantine--table-white thead:after, .ma-cantine--table-white tbody:after {
    display: none !important;
}

.ma-cantine--table-white thead {
    background-color: var(--background-contrast-grey) !important;
    background-size: 100% 2px !important
}


/* ICON */
.ma-cantine--icon-xs::before {
    --icon-size: 1rem !important
}


/* ANIMATION */

.ma-cantine--sticky {
    position: sticky;
    top: 1rem;
}
