<p>Bonjour,</p>

<p>Votre cantine « {{ canteen }} » a bien été publiée sur la plateforme ma cantine.</p>

<p>La publication se trouve dans le lien ci-dessous. N'hésitez pas à le partager !</p>

<p style="margin: 30px 0px;">
    <a
    href="{{ canteenUrl }}"
    style="background: #139f43;padding: 10px 40px; border: none; border-radius: 3px; color: white; box-shadow: 1px 1px 2px 0px #333; cursor: pointer; text-decoration: none;">
        Publication « {{ canteen }} »
    </a>
  </p>

<p>En cas de difficultés, vous pouvez copier ce lien directement dans votre navigateur :</p>

<p>{{ canteenUrl }}</p>

<p>Pour toute question ou renseignement vous pouvez nous contacter en répondant directement à ce message.</p>

<p>L'équipe ma cantine</p>
