{% extends 'email_base.html' %}

{% block content %}
    <p>Votre cantine « {{ canteen }} » a bien été publiée sur la plateforme ma cantine.</p>

    <p>La publication se trouve dans le lien ci-dessous. N'hésitez pas à le partager !</p>

    <div class="cta">
        <a href="{{ canteenUrl }}">
            Publication « {{ canteen }} »
        </a>
    </div>

    <p>En cas de difficultés, vous pouvez copier ce lien directement dans votre navigateur :</p>

    <p>{{ canteenUrl }}</p>
{% endblock %}
