<p>Bonjour,</p>

<p>Vous, ou un membre de votre équipe de géstion, avez demandé de publier les données de votre cantine « {{ canteen }} ».</p>

<p>Nous sommes heureux a annoncer que votre cantine est maintenant publiée, et visible sur notre site.</p>

<p style="margin: 30px 0px;">
    <a
    href="{{ canteenUrl }}"
    style="background: #139f43;padding: 10px 40px; border: none; border-radius: 3px; color: white; box-shadow: 1px 1px 2px 0px #333; cursor: pointer; text-decoration: none;">
        Voir {{ canteen }}
    </a>
  </p>

<p>En cas de difficultés, vous pouvez copier ce lien directement dans votre navigateur :</p>

<p>{{ canteenUrl }}</p>

<p>Si vous avez des questions, n'hesitez pas a nous contacter en répondant ce message.</p>

<p>L'équipe ma cantine</p>
