name: Ma Cantine CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup PostgreSQL
        uses: Harmon758/postgresql-action@v1.0.0
        with:
          postgresql db: postgres
          postgresql user: postgres
          postgresql password: postgres

      - name: Setup Redis
        uses: zhulik/redis-action@1.1.0
        with:
          redis version: "5"
          number of databases: 5

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install uv
        uses: astral-sh/setup-uv@v3
        with:
          enable-cache: true
          version: "latest"

      - name: Install dependencies
        run: |
          uv sync --locked

      - name: Collect static files
        env:
          SECRET: test
          ALLOWED_HOSTS: localhost
          REDIS_URL: redis://localhost:6379/0
          STATICFILES_STORAGE: django.contrib.staticfiles.storage.StaticFilesStorage
          DEFAULT_FILE_STORAGE: django.core.files.storage.FileSystemStorage
        run: |
          uv run python manage.py collectstatic --noinput

      - name: Test Django
        env:
          DEBUG: True
          SECRET: test
          ALLOWED_HOSTS: localhost
          DB_USER: postgres
          DB_PASSWORD: postgres
          DB_HOST: localhost
          DB_PORT: 5432
          DB_NAME: postgres
          HOSTNAME: localhost
          STATICFILES_STORAGE: django.contrib.staticfiles.storage.StaticFilesStorage
          DEFAULT_FILE_STORAGE: django.core.files.storage.FileSystemStorage
          EMAIL_BACKEND: django.core.mail.backends.console.EmailBackend
          DEFAULT_FROM_EMAIL: contact@example.com
          CONTACT_EMAIL: contact@example.com
          REDIS_URL: redis://localhost:6379/0
        run: |
          uv run python manage.py test

      - uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20.x"
      - name: Vue 2 install
        working-directory: ./frontend
        env:
          NODE_OPTIONS: --openssl-legacy-provider
        run: |
          npm install
      - name: Vue 2 build
        working-directory: ./frontend
        env:
          NODE_OPTIONS: --openssl-legacy-provider
        run: |
          npm run build --if-present
      - name: Vue 2 test
        working-directory: ./frontend
        run: |
          npm run test

      - name: Vue 3 build
        working-directory: ./2024-frontend
        run: |
          npm install
          npm run build --if-present
