# https://github.com/amannn/action-semantic-pull-request
# with a custom type: improve
# config here: release-please-config.json

name: "release-please: PR title check"

on:
  pull_request_target:
    types:
      - opened
      - edited
      - synchronize
      - reopened

permissions:
  pull-requests: read

jobs:
  main:
    name: Ensure PR title matches the Conventional Commits spec
    runs-on: ubuntu-slim
    steps:
      - uses: amannn/action-semantic-pull-request@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          types: |
            feat
            improve
            fix
            refactor
            revert
            style
            docs
            test
            chore
            perf
            build
            ci
